.nav_bar {
    background: #5F8899;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.logo_resp {
    display: none;
}

.logo {
    width: 63px;
    height: 63px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 5px;
}

.list {
    display: flex;
    gap: 50px;
    align-items: center;
    color: #FFF;
    font-family: outfit;
    font-size: 22px;
    font-weight: 600;
    margin-right: 150px;
}

.li:hover {
    color: #20D0CE;
    font-family: outfit;
    font-size: 22px;
    font-weight: 600;
    text-decoration-line: underline;
    cursor: pointer;
}

.navbar {
    display: none;
}

.link {
    color: white;
}

select {
    border: none;
    color: #FFF;
    font-family: outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #5F8899;

}

select:hover {
    color: #20D0CE;
    font-family: outfit;
    font-size: 22px;
    font-weight: 600;
    text-decoration-line: underline;
    cursor: pointer;
}

option {
    background-color: white;
    color: black;
    width: 390px;
    height: 370px;
    flex-shrink: 0;
}

option :hover {
    color: #20D0CE;
    font-family: outfit;
    font-size: 22px;
    font-weight: 800;
    text-decoration-line: underline;
    cursor: pointer;
}

select:focus {
    border: none;
    outline: none;
}

.nav_item {
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.nav_item:hover {
    color: #20D0CE;
    font-family: outfit;
    font-size: 22px;
    text-decoration-line: underline;
    cursor: pointer;
}


.nav_list_resp {
    position: absolute;
    background: #5F8899;
    color: #FFFFFF;
    width: 100px;
    height: 100px;
    text-align: center;
}

.doctor_dropdown {
    position: absolute;
    top: 60px;
    left: -150px;
    background: white;
    padding: 29px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 35px;
    z-index: 100;
    width: 390px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 0px 80px 80px 80px;
    padding-top: 50px;
}



.nav_card {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.nav_para:hover {
    background-color: #20D0CE;
}

.name {
    color: #000;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title {
    color: #000;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.doc_img {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 70px;
}

.navbar_res {
    display: none;
}




/* Tab */

@media(max-width:1023px) {

    .list {
        display: none;
    }

    .nav_bar {
        display: none;
    }

    .navbar_res {
        display: block;
    }

    .navbar_header {
        background: #5F8899;
        display: flex;
        justify-content: space-between;
        padding: 10px 50px;
        align-items: center;
    }

    .logo_resp {
        display: block;
        background-color: #FFF;
        border-radius: 50%;
    }

    .nav_list_resp {
        width: 100vw;
        height: auto;
        background: #5F8899;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        z-index: 100;
        padding: 20px 0px;
        position: absolute;
    }

    
    .doctor_dropdown {
        position: static;
        border-radius: 20px;
        box-shadow: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        z-index: 100;
        width: 100%;
        height: 150px;
        flex-shrink: 0;
        padding-top: 40px;
        background: none;
    }

    .name {
        font-size: 20px;
        width: 100%;
        color: white;
    }

    .title {
        font-size: 20px;
        width: 100%;
        color: white;
    }





}

/* Mobile */

@media(max-width:767px) {
    .logo {
        display: none;
    }

    .navbar {
        display: block;
    }

    .logo_resp {
        display: block;
        background-color: #FFF;
        border-radius: 50%;
    }

    .list {
        display: none;
    }

    .nav_bar {
        padding: 0;
        display: none;
    }

    .navbar_res {
        display: block;
        /* position: fixed; */
    }

    .navbar_header {
        background: #5F8899;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
    }

    .nav_list_resp {
        width: 100vw;
        height: auto;
        background: #5F8899;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #FFF;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        z-index: 100;
        padding: 20px 0px;
        position: absolute;
    }



    .doctor_dropdown {
        position: static;
        border-radius: 20px;
        box-shadow: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        z-index: 100;
        width: 100%;
        height: 150px;
        flex-shrink: 0;
        padding-top: 40px;
        background: none;
    }

    .name {
        font-size: 14px;
        width: 100%;
        color: white;
    }

    .title {
        font-size: 14px;
        width: 100%;
        color: white;
    }

}